<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305724355081-pnci3hk1au89tglh5b6kt4ksglgti0os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305724355081-pnci3hk1au89tglh5b6kt4ksglgti0os</string>
	<key>API_KEY</key>
	<string>AIzaSyDvmZz-RMuhpfabh08TubsAmrxpr2WwOk4</string>
	<key>GCM_SENDER_ID</key>
	<string>305724355081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7d727</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7d727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305724355081:ios:d383ba848751eaa0bc3ed8</string>
</dict>
</plist>